{% extends 'layout.html' %}
{% block body %}
   <div class="text-center">
      <h1 style="margin: 7% 0% 2%; font-weight: bold;">About</h1>
       <img src="../static/images/Chatbot_Logo.png" alt="Accessibility" width="150" height="150">
       <h3 style="margin-top: 2%; font-weight: bold;">Accessibility ChatBot</h3>
      <p style="font-size: 16px; opacity: .7;">This is a chatbot Accessibility project developed as part of Software Engineering Under the Guidance of <b>Prof Dr Wajdi Aljedani</b></p>
      <h3 style="margin-top: 3%; font-weight: bold;">Team members<h3>
      <h5>Siva kumar</h5>
      <h5>Deepak Adimoolam</h5>
      <h5>Vinay Vemuri</h5>
   </div>
{% endblock %}
