{% extends 'layout.html' %}
{% block body %}
   <div class="text-center">
      <h1 style="margin: 7% 0% 2%; font-weight: bold; color: #FFFFFF;">About</h1>
      <img src="../static/images/Chatbot_Logo.png" alt="Accessibility" width="150" height="150">
      <h2 style="margin-top: 2%; font-weight: bold; color: #FFFFFF;">Accessibility ChatBot</h2>
      <p style="font-size: 16px; color: #FFFFFF;">This is a chatbot Accessibility project developed as part of Software Engineering Under the Guidance of <strong>Prof Dr Wajdi Aljedani</strong></p>
      <h2 style="margin-top: 3%; font-weight: bold; color: #FFFFFF;">Team members</h2>
      <h3 style="color: #FFFFFF;">Siva kumar</h3>
      <h3 style="color: #FFFFFF;">Deepak Adimoolam</h3>
      <h3 style="color: #FFFFFF;">Vinay Vemuri</h3>
      
   </div>
{% endblock %}
