{% extends 'layout.html' %}
{% block body %}
   <div class="jumbotron text-center">
      <h1>About</h1>
      <p>This is a chatbot Accessibility project developed as part of Software Engineering Under the Guidance of <b>Prof Dr Wajdi Aljedani</b></p>
      <img src="./static/images/a11y.png" alt="Accessibility" width="150" height="150" align="right" display="block" text-indent="-9999px">
      <img src="./static/images/OIP.jpeg" alt="Accessibility" width="150" height="150"  align="left" display="block" text-indent="-9999px">
      <hr>
      <table border="5" align="center" color="blue">
      <!-- <table width="80%" style="margin: 0 auto; border:1px solid;text-align:center"> -->
      <tr><th>Team members</th></tr>
      <tr><td>Siva kumar</td></tr>
      <tr><td>Deepak Adimoolam</td></tr>
      <tr><td>Vinay Vemuri</td></tr>
      </table>
   </div>
{% endblock %}
