{% extends 'productLayout.html' %}

{% block content %}
    <h1>{% block title %} Welcome to ChatBot Accessibility{% endblock %}</h1>
    {% for product in products %}
        <a href="#">
            <h2>{{ product['title'] }}</h2>
        </a>
        <span class="badge badge-secondary">{{ product['id'] }}</span>
        <span class="badge badge-secondary">{{ product['author'] }}</span>
        <span class="badge badge-secondary">{{ product['created'] }}</span>
        <span> <button type="submit" class="btn btn-warning" href="/delete/{{ product['id'] }}">Delete</button></span>
        <hr>
    {% endfor %}
{% endblock %}
